body{
  background-color: Gainsboro;
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
  display: grid;
  place-items: center;
}

h1{
  margin-top: 5%;
  background-color: LightSlateGrey;
  color: white;
  padding: 2%;
  width: 100%;
}
a {
  width: 50%;
  display: block;
  padding: 5px;
  margin: 10px 0;
  text-decoration: none;
  color: white;
  background-color: DarkSeaGreen;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

a:hover {
  background-color: CadetBlue;
}

.container{
  display: grid;
  place-items: center;
}

th, td {
  color: LightSlateGrey;
  padding: 8px 12px;
  border: 1px solid #ccc;
}
th {
  background-color: #ecf0f1;
}

#deleteButton, #editButton {
  width: 80px;
  margin: 10px;
  padding:5px;
  background-color: LightSlateGrey ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Ubuntu-Bold, sans-serif;
  font-size: 10px;
  text-decoration: none;
}
#deleteButton:hover, #editButton:hover {
  background-color: darkseagreen ;
}

.mt-3 a, .mb-3 a {
  text-decoration: none;
  color: white;
}
.mt-3, .mb-3 {
  width: 150px;
  padding: 7px;
  background-color: DarkSeaGreen ;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.mt-3:hover, .mb-3:hover {
  background-color: CadetBlue ;
}
.classroom{
  display: grid;
  justify-items: center;
}
.teilnehmen{
  width: 100px;
  margin: 10px;
  padding:5px;
  background-color: LightSlateGrey ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Ubuntu-Bold, sans-serif;
  font-size: 10px;
  text-decoration: none;
}
