<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Wenn Sie Ihr Passwort vergessen haben, geben Sie bitte Ihre E-Mail ein.</h1>
    <p>Admin kümmert sich darüber und gibt Ihnen Bescheid</p>
    <div class="container">
        <form th:action="@{/forgot-password}" method="POST">
            <div class="loginTitle">Login</div>
            <input type="email" name="email" placeholder="E-mail" required><br>
            <input type="submit" value="Senden">
        </form>
    </div>
</body>
</html>